{% extends 'shablonDRY.html' %}

{% block title %}
    Герой
{% endblock %}

{% block content %}
    <div class="card">
        <div class="photo">
            <img src="../static/image/1647635065_10-amiel-club-p-kartinki-elfa-10.jpg" height="150px">
        </div>

        <div class="info">
            <h1>Боец</h1>
            <p>Эльф (мн.: эльфы) - это тип гуманоидного сверхъестественного существа в германском
                фольклоре. Эльфы особенно часто появляются в северогерманской мифологии,
                упоминаясь в Исландской поэтической Эдде и прозаической Эдде.</p>

        </div>
    </div>
{% endblock %}

